@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

h1 {
  @apply text-2xl font-medium text-black dark:text-white pt-3 pb-1;
}
h2 {
  @apply text-xl font-normal text-zinc-600 pt-3 pb-1;
}
h3 {
  @apply text-lg font-medium text-zinc-600 pt-3 pb-1;
}

p {
  @apply text-base text-zinc-600 dark:text-zinc-500 py-1;
}

hr {
  @apply bg-zinc-200 dark:bg-zinc-800 border-none h-[1px];
}

b {
  @apply font-medium;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  *::selection {
    @apply bg-sky-100 text-sky-700 dark:bg-sky-900 dark:text-sky-300;
  }
}

@layer components {
  .wm-auto {
    @apply mx-auto max-w-[880px] w-full;
  }
}
